{% extends 'frontend/frontheaderfooter.html.twig' %}

{% block title %}New Attestation{% endblock %}

{% block content %}
    <h1>Create new Attestation</h1>

    {{ include('attestation/_form.html.twig') }}

    <a href="{{ path('attestation_index') }}">back to list</a>
{% endblock %}
